Data Manupulation

In [ ]:
import pandas as pd

df = pd.read_csv("SampleData.csv")
print(df)

In [ ]:
import pandas as pd

# df = pd.read_csv("SampleData.csv" , encoding="latin1")
# df = pd.read_csv("SampleData.csv" , encoding="utf-8")


df = pd.read_json()
print(df)

Data analysis

In [ ]:
import pandas as pd

data = {
    "Name" : ['Ram' , 'Shyam', 'Bham'], #list
    "Age" : [10,20,30],
    "City" : ["Delhi","Mumbai","goa"]
}

print(data)
print()

# creating datafrom of it - means converting into 2D
df = pd.DataFrame(data)
print(df)

#save this data into csv
df.to_csv("output.csv" , index=False)

check rows - previewing the data

In [ ]:
import pandas as pd

df = pd.read_csv("SampleData.csv")

print("Starting rows" , df.head(5))
print()
print("Ending rows" , df.tail(5))

Understanding the data

In [ ]:
import pandas as pd

df = pd.read_csv("SampleData.csv")

print("Displaying the info of the data set")
print(df.info())

Describe method

In [ ]:
import pandas as pd

# dictionary ke thorugh data bana lete hai
data = {
    "Name" : ['Ram', 'Shyam' , 'Rahul' , 'aditi' , 'modi' , 'kaam','raj','simran'],
    "Age" : [10,20,30,40,50,60,55,21],
    "Salary" : [2000,3000,4000,5000,6000,7000,5487,3265],
    "Performance Score" : [85,32,15,78,95,66,45,78]
}

df = pd.DataFrame(data)
print("Sample Dataframe" , df)
print()

# descritptive statistic
print("descritptive statistic" , df.describe())

Shape and column

In [ ]:
import pandas as pd


data = {
    "Name" : ['Ram', 'Shyam' , 'Rahul' , 'aditi' , 'modi' , 'kaam','raj','simran'],
    "Age" : [10,20,30,40,50,60,55,21],
    "Salary" : [2000,3000,4000,5000,6000,7000,5487,3265],
    "Performance Score" : [85,32,15,78,95,66,45,78]
}

print("Shape : " , df.shape)
print("Columns : " , df.columns)

How to select specific column and how to filter the rows

In [ ]:
import pandas as pd


data = {
    "Name" : ['Ram', 'Shyam' , 'Rahul' , 'aditi' , 'modi' , 'kaam','raj','simran'],
    "Age" : [10,20,30,40,50,60,55,21],
    "Salary" : [2000,3000,4000,5000,6000,7000,5487,3265],
    "Performance Score" : [85,32,15,78,95,66,45,78]
}

# seleting 1 column at a time
column = df["Name"]
# print(column)

# seleting multiple column at a time
multi = df[["Name" , "Age" , "Salary"]]
print(multi)

Row filter

In [ ]:
import pandas as pd


data = {
    "Name" : ['Ram', 'Shyam' , 'Rahul' , 'aditi' , 'modi' , 'kaam','raj','simran'],
    "Age" : [10,20,30,40,50,60,55,21],
    "Salary" : [2000,3000,4000,5000,6000,7000,5487,3265],
    "Performance Score" : [85,32,15,78,95,66,45,78]
}
df = pd.DataFrame(data)

# filter on basis single condition
high_salary = df[df['Salary'] > 5000]
print("high_salary \n" , high_salary)

print()

# filter on basis multiple condition
age_salary = df[(df['Salary']) > 5000 & (df['Age'] < 55)]
print("high_salary , age_salary \n" , age_salary)

Adding new columns

In [ ]:
import pandas as pd

# Method 1
data = {
    "Name" : ['Ram', 'Shyam' , 'Rahul' , 'aditi' , 'modi' , 'kaam','raj','simran'],
    "Age" : [10,20,30,40,50,60,55,21],
    "Salary" : [2000,3000,4000,5000,6000,7000,5487,3265],
    "Performance Score" : [85,32,15,78,95,66,45,78]
}
df = pd.DataFrame(data)
df["Bonus"] = df["Salary"] * 0.1 # salary col mai 10% increase kar diya
print(df)

In [ ]:
import pandas as pd

# Method 2
data = {
    "Name" : ['Ram', 'Shyam' , 'Rahul' , 'aditi' , 'modi' , 'kaam','raj','simran'],
    "Age" : [10,20,30,40,50,60,55,21],
    "Salary" : [2000,3000,4000,5000,6000,7000,5487,3265],
    "Performance Score" : [85,32,15,78,95,66,45,78]
}
df = pd.DataFrame(data)
df.insert(0,"Employee_Id" , [101,102,103,104,105,106,107,108]) #0th index pe insert kr diya
print(df)

Updating values

In [ ]:
import pandas as pd

data = {
    "Name" : ['Ram', 'Shyam' , 'Rahul' , 'aditi' , 'modi' , 'kaam','raj','simran'],
    "Age" : [10,20,30,40,50,60,55,21],
    "Salary" : [2000,3000,4000,5000,6000,7000,5487,3265],
    "Performance Score" : [85,32,15,78,95,66,45,78]
}
df = pd.DataFrame(data)
df.loc[0 , "Salary"] = 10000 #ram ki salary 5k se 10k kardi
print(df)

updating more than 1 value

In [ ]:
import pandas as pd

data = {
    "Name" : ['Ram', 'Shyam' , 'Rahul' , 'aditi' , 'modi' , 'kaam','raj','simran'],
    "Age" : [10,20,30,40,50,60,55,21],
    "Salary" : [2000,3000,4000,5000,6000,7000,5487,3265],
    "Performance Score" : [85,32,15,78,95,66,45,78]
}
df = pd.DataFrame(data)
df["Salary"] = df['Salary'] * 1.05 #phhle col select kiya than = col ki value ko 5% inc kr diya 
print(df) #poori row ki value 1 baar mai change

Removing columns

In [ ]:
import pandas as pd

data = {
    "Name" : ['Ram', 'Shyam' , 'Rahul' , 'aditi' , 'modi' , 'kaam','raj','simran'],
    "Age" : [10,20,30,40,50,60,55,21],
    "Salary" : [2000,3000,4000,5000,6000,7000,5487,3265],
    "Performance Score" : [85,32,15,78,95,66,45,78]
}
df = pd.DataFrame(data)

# removing single col
# df.drop(columns=["Performance Score"] , inplace=True)
# print(df)

# removing multiple col
df.drop(columns=["Performance Score" , "Age"] , inplace=True)
print(df)

Handling Missing Data

In [ ]:
import pandas as pd

data = {
    "Name" : ['Ram', None , 'Rahul' , 'aditi' , 'modi' , 'kaam','raj','simran'],
    "Age" : [10,None,30,40,50,60,55,21],
    "Salary" : [2000,None,4000,5000,6000,7000,5487,3265],
    "Performance Score" : [85,None,15,78,95,66,45,78]
}
df = pd.DataFrame(data)
# print(df.isnull())
print(df.isnull().sum())

Handling missing value

In [ ]:
import pandas as pd

data = {
    "Name" : ['Ram', None , 'Rahul' , 'aditi' , 'modi' , 'kaam','raj','simran'],
    "Age" : [10,None,30,40,50,60,55,21],
    "Salary" : [2000,None,4000,5000,6000,7000,5487,3265],
    "Performance Score" : [85,None,15,78,95,66,45,78]
}
df = pd.DataFrame(data)
df.dropna(axis=0 , inplace=True)
print(df)

Fill default value in place of null value

In [ ]:
import pandas as pd

data = {
    "Name" : ['Ram', None , 'Rahul' , 'aditi' , 'modi' , 'kaam','raj','simran'],
    "Age" : [10,None,30,40,50,60,55,21],
    "Salary" : [2000,None,4000,5000,6000,7000,5487,3265],
    "Performance Score" : [85,None,15,78,95,66,45,78]
}
df = pd.DataFrame(data)
df.fillna(0, inplace=True) # 0 value set krdo null ki jgh
print(df)

Fill calculated value in place of null value

In [ ]:
import pandas as pd

data = {
    "Name" : ['Ram', None , 'Rahul' , 'aditi' , 'modi' , 'kaam','raj','simran'],
    "Age" : [10,None,30,40,50,60,55,21],
    "Salary" : [2000,None,4000,5000,6000,7000,5487,3265],
    "Performance Score" : [85,None,15,78,95,66,45,78]
}
df = pd.DataFrame(data)

age_mean = df['Age'].mean()
salary_mean = df['Salary'].mean()

df['Age'].fillna(age_mean , inplace=True)
df['Salary'].fillna(salary_mean , inplace=True)
print(df)

Interpolation

In [ ]:
import pandas as pd

data = {
    "Name" : ['Ram', 'Shyam' , 'Rahul' , 'aditi' , 'modi' , 'kaam','raj','simran'],
    "Age" : [10,None,30,40,50,60,55,21],
    "Salary" : [2000,None,4000,5000,6000,7000,5487,3265],
    "Performance Score" : [85,None,15,78,95,66,45,78]
}
df = pd.DataFrame(data)

# method could be linear, polynomial, time. axis=0 means row mai apply karna hai
df.interpolate(method='linear' , axis=0, inplace=True)
print(df)

Linear Interpolation

In [ ]:
import pandas as pd

data = {
    "Time" : [1,2,3,4,5],
    "Value" : [10,None,30,None,50]
}
df = pd.DataFrame(data)
print("Before interploation \n" , df)

# df.interpolate(method='linear' , axis=0, inplace=True)

# ese bhi kr skte or upper waale tareeke se bhi jo comment kiya hai
df["Value"] = df["Value"].interpolate(method='linear')

print("\n After interploation \n" , df)

Sorting - single col

In [ ]:
import pandas as pd

data = {
    "Name" : ['Ram', 'Shyam' , 'Rahul' , 'aditi' , 'modi' , 'kaam','raj','simran'],
    "Age" : [10,100,36,21,50,60,55,30],
    "Salary" : [6000,4000,2000,326,5000,6000,7000,5487]
}
df = pd.DataFrame(data)

# sorting age in ascending order
df.sort_values(by="Age" ,ascending=True , inplace=True)
print(df)

sorting - multiple col

In [ ]:
import pandas as pd

data = {
    "Name" : ['Ram', 'Shyam' , 'Rahul' , 'aditi' , 'modi' , 'kaam','raj','simran'],
    "Age" : [10,100,36,21,50,60,55,30],
    "Salary" : [6000,4000,2000,326,5000,6000,7000,5487]
}
df = pd.DataFrame(data)

# sorting age in ascending order
df.sort_values(by=["Age" , "Salary"] ,ascending=[True,False] , inplace=True)
print(df)

Aggrigate

In [ ]:
import pandas as pd

data = {
    "Name" : ['Ram', 'Shyam' , 'Rahul' , 'aditi' , 'modi' , 'kaam','raj','simran'],
    "Age" : [10,100,36,21,50,60,55,30],
    "Salary" : [6000,4000,2000,326,5000,6000,7000,5487]
}
df = pd.DataFrame(data)

avg_salary = df["Salary"].mean()
print("Average Salary = " , avg_salary)

Groupping - single

In [ ]:
import pandas as pd

data = {
    "Name" : ['Ram', 'Shyam' , 'Rahul' , 'aditi' , 'modi' , 'kaam','raj','simran'],
    "Age" : [10,100,36,21,50,60,55,30],
    "Salary" : [6000,4000,2000,326,5000,6000,7000,5487]
}
df = pd.DataFrame(data)
groupped = df.groupby("Age")["Salary"].sum()
print(groupped)

Groupping - multiple

In [ ]:
import pandas as pd

data = {
    "Name" : ['Ram', 'Shyam' , 'Rahul' , 'aditi' , 'modi' , 'kaam','raj','simran'],
    "Age" : [10,100,36,21,50,60,55,30],
    "Salary" : [6000,4000,2000,326,5000,6000,7000,5487]
}
df = pd.DataFrame(data)

# is baar bas list form mai pass kardo multiple col ko
groupped = df.groupby(["Age", "Name"])["Salary"].sum()
print(groupped)

Merging

In [12]:
import pandas as pd

# dataframe 1
df_customers = pd.DataFrame({
    'CustomerId' : [1,2,3],
    'CustomerName' : ['Aalu', 'Kalu' , 'Chalu']
})

# dataframe 2
df_orders = pd.DataFrame({
    'CustomerId' : [1,2,4], # one unique id(4) which is not matching with above df
    'OrderAmount' : [250,450,350]
})

# merge on the basis of CustomerId
df_merged = pd.merge(df_customers , df_orders , on="CustomerId" , how="inner")
print("\n Inner \n" , df_merged)

df_merged = pd.merge(df_customers , df_orders , on="CustomerId" , how="outer")
print("\n outer \n" , df_merged)

df_merged = pd.merge(df_customers , df_orders , on="CustomerId" , how="left")
print("\n left \n" , df_merged)

df_merged = pd.merge(df_customers , df_orders , on="CustomerId" , how="right")
print("\n right \n" , df_merged)

 Inner
    CustomerId CustomerName  OrderAmount
0           1         Aalu          250
1           2         Kalu          450

 outer
    CustomerId CustomerName  OrderAmount
0           1         Aalu        250.0
1           2         Kalu        450.0
2           3        Chalu          NaN
3           4          NaN        350.0

 left
    CustomerId CustomerName  OrderAmount
0           1         Aalu        250.0
1           2         Kalu        450.0
2           3        Chalu          NaN

 right
    CustomerId CustomerName  OrderAmount
0           1         Aalu          250
1           2         Kalu          450
2           4          NaN          350